All Flows in Node-Red.json
[{"id":"6a50cd0f.0eae14","type":"tab","label":"Website Nodes","disabled":false,"info":""},{"id":"c84f8bfc.ec1d98","type":"tab","label":"Login and Sign Up","disabled":false,"info":""},{"id":"cf39526d.d563e","type":"tab","label":"Chat bot","disabled":false,"info":""},{"id":"f4817954.7b4618","type":"tab","label":"Predictions","disabled":false,"info":""},{"id":"1d7e52a1.1d3b6d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#40acbf","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Fresh-o-Fresh","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b4f7c83.dca314","type":"ui_group","z":"","name":"Sign ","tab":"19912368.86e0dd","order":1,"disp":false,"width":"6","collapse":false},{"id":"396e771c.cca858","type":"ui_group","z":"","name":"Form","tab":"19912368.86e0dd","order":2,"disp":true,"width":"27","collapse":false},{"id":"13a81a3d.963f26","type":"ui_group","z":"","name":"Products","tab":"a9e50bab.3aaf48","order":1,"disp":false,"width":"27","collapse":false},{"id":"63adde1f.4698c","type":"ui_group","z":"","name":"Fresh-O-Fresh","tab":"5a3ce46d.687e7c","order":2,"disp":true,"width":"27","collapse":false},{"id":"181d5240.3ec89e","type":"ui_group","z":"","name":"Fresh-O-Fresh","tab":"7003a21c.55d00c","order":1,"disp":false,"width":"27","collapse":false},{"id":"52a930b.e00fcd","type":"ui_group","z":"","name":"Sign Up","tab":"d0f92e2a.3e605","order":2,"disp":true,"width":"6","collapse":false},{"id":"d0f92e2a.3e605","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"19912368.86e0dd","type":"ui_tab","z":"","name":"login","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"936915d5.8b4d08","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"62dca05e.4fd89","type":"ui_spacer","name":"spacer","group":"13a81a3d.963f26","order":1,"width":1,"height":1},{"id":"3fe5f14f.d1a96e","type":"ui_group","z":"","name":"Fresh-O-fresh","tab":"936915d5.8b4d08","order":2,"disp":false,"width":"27","collapse":false},{"id":"f74f0eb8.26cf2","type":"ui_tab","z":"","name":"Cart","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"47fc5dca.836ab4","type":"ui_group","z":"","name":"Fresh-O-fresh","tab":"f74f0eb8.26cf2","order":1,"disp":false,"width":"27","collapse":false},{"id":"a9e50bab.3aaf48","type":"ui_tab","z":"","name":"Fresh-O-fresh","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"5a3ce46d.687e7c","type":"ui_tab","z":"","name":"Logout","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"7003a21c.55d00c","type":"ui_tab","z":"","name":"Success","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"bfd213f.3d06bf","type":"ui_group","z":"","name":"prediction","tab":"fe387285.14c13","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe387285.14c13","type":"ui_tab","z":"","name":"Prediction ","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"2aa102e9.06d5de","type":"ui_group","z":"","name":"Area","tab":"a85c00d6.e9ce9","order":2,"disp":false,"width":"27","collapse":false},{"id":"a85c00d6.e9ce9","type":"ui_tab","z":"","name":"Area","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"84b0826b.f8874","type":"ui_group","z":"","name":"hello","tab":"d0f92e2a.3e605","order":1,"disp":false,"width":"6","collapse":false},{"id":"4fde7153.e1749","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"d27df6e3.a4ee48","type":"ui_group","z":"","name":"Chat Bot","tab":"19912368.86e0dd","order":3,"disp":true,"width":"6","collapse":true},{"id":"ada3764f.a6cbb8","type":"ui_group","z":"","name":"Order Numbers:","tab":"d91825f.7aa9dd8","order":1,"disp":true,"width":"6","collapse":true},{"id":"8f76f8ea.0c2688","type":"ui_group","z":"","name":"Important info:","tab":"d91825f.7aa9dd8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d91825f.7aa9dd8","type":"ui_tab","z":"","name":"Predictions","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"277d2dd1.4af0b2","type":"ui_group","z":"","name":"Chat Bot","tab":"d0f92e2a.3e605","order":3,"disp":true,"width":"6","collapse":false},{"id":"774a7d48.237ac4","type":"ui_group","z":"","name":"Sample","tab":"d4330e83.4a93c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d4330e83.4a93c","type":"ui_tab","z":"","name":"Sample2","icon":"dashboard","disabled":false,"hidden":false},{"id":"be34edf6.c3bec","type":"ui_tab","z":"","name":"Admin","icon":"dashboard","disabled":false,"hidden":false},{"id":"2844fdb9.a81c42","type":"ui_group","z":"","name":"Retailer Login","tab":"be34edf6.c3bec","order":1,"disp":false,"width":"27","collapse":false},{"id":"38168205.dea02e","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"7f8b9433.05a2fc","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"34f64383.31df7c","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":220,"wires":[["73f15173.0a18e"]]},{"id":"73f15173.0a18e","type":"function","z":0,"name":"Pre Prediction","func":"var YearsExperience = global.get('YearsExperience')\nvar token=msg.payload.access_token\nvar instance_id=\"4a285c62-15a8-4429-b4b4-d389faac0b70\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"YearsExperience\"] , \"values\": [[YearsExperience]]}\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["f5846f65.1137a","ccd4e506.b42bc8"]]},{"id":"f5846f65.1137a","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4a285c62-15a8-4429-b4b4-d389faac0b70/deployments/08265aef-babe-4531-a212-caaa1a5fc6ee/online","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":200,"wires":[["699c6bf5.0a28c4"]]},{"id":"6621afc1.4383f","type":"ui_text","z":0,"group":"bfd213f.3d06bf","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":180,"wires":[]},{"id":"699c6bf5.0a28c4","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["6621afc1.4383f","f03a0f12.c0e71"]]},{"id":"660b82d4.0676bc","type":"ui_form","z":0,"name":"","label":"","group":"bfd213f.3d06bf","order":1,"width":0,"height":0,"options":[{"label":"YearsExperience","value":"yr","type":"number","required":true,"rows":null}],"formValue":{"yr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["299fc04c.e6bdb"]]},{"id":"299fc04c.e6bdb","type":"function","z":0,"name":"","func":"global.set(\"YearsExperience\",msg.payload.yr)\nvar apikey=\"HkhSBlG5KoatKirkqIcUvklXW_8hZQWeZsafq-RzsHPw\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["34f64383.31df7c"]]},{"id":"ccd4e506.b42bc8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":280,"wires":[]},{"id":"aabcd2a0.444db","type":"inject","z":0,"name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["299fc04c.e6bdb"]]},{"id":"f03a0f12.c0e71","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":240,"wires":[]},{"id":"916905.ec1416f8","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":180,"wires":[["8fb9b905.e2eff8"]]},{"id":"8fb9b905.e2eff8","type":"function","z":0,"name":"Pre Prediction","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":340,"y":180,"wires":[["d344b05.2c8515"]]},{"id":"d344b05.2c8515","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":180,"wires":[["3df6a37f.b829cc"]]},{"id":"3df6a37f.b829cc","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["45f4e9bd.d47668","b4b15675.d228c8"]]},{"id":"d01a2dc1.e1a17","type":"ui_form","z":0,"name":"","label":"","group":"ada3764f.a6cbb8","order":2,"width":0,"height":0,"options":[{"label":"week","value":"W","type":"number","required":true,"rows":null},{"label":"center_id","value":"CI","type":"number","required":true,"rows":null},{"label":"meal_id","value":"MI","type":"number","required":true,"rows":null},{"label":"checkout_price","value":"COP","type":"number","required":true,"rows":null},{"label":"base_price","value":"BP","type":"number","required":true,"rows":null},{"label":"emailer_for_promotion","value":"EFP","type":"number","required":true,"rows":null},{"label":"homepage_featured","value":"HF","type":"number","required":true,"rows":null}],"formValue":{"W":"","CI":"","MI":"","COP":"","BP":"","EFP":"","HF":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":50,"y":380,"wires":[["5f65af65.b3488"]]},{"id":"5f65af65.b3488","type":"function","z":0,"name":"","func":"global.set(\"week\",msg.payload.W)\nglobal.set(\"center_id\",msg.payload.CI)\nglobal.set(\"meal_id\",msg.payload.MI)\nglobal.set(\"checkout_price\",msg.payload.COP)\nglobal.set(\"base_price\",msg.payload.BP)\nglobal.set(\"emailer_for_promotion\",msg.payload.EFP)\nglobal.set(\"homepage_featured\",msg.payload.HF)\nvar apikey=\"VQMcBuud0FI_kgnc0_u8nzd2wMsbXcp0yXHfBty5VXdd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":70,"y":300,"wires":[["916905.ec1416f8","1e782f17.731bb1","667f1466.c019dc","1b1fbac7.165b95","46e51d7a.3eae34","2a715b1c.2d9be4","7cb5cd7.b68e834","6300d49e.128a3c","50ff0469.187dac","cb8695f1.273338","e1381338.cfce4"]]},{"id":"ad7b90c.462047","type":"function","z":0,"name":"Pre Prediction + 4","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+4),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["ad3c4df1.6fa63"]]},{"id":"ad3c4df1.6fa63","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":260,"wires":[["638803c8.2d3b0c"]]},{"id":"d11feaee.177ba8","type":"function","z":0,"name":"Pre Prediction + 1","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+1),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["2747d6b7.a1573a"]]},{"id":"2747d6b7.a1573a","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["db53e05a.3bfa6"]]},{"id":"db53e05a.3bfa6","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["821ca4e7.30aa98","7a6a4a9a.14dca4"]]},{"id":"c1f3e87c.0d4d68","type":"function","z":0,"name":"Pre Prediction + 2","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+2),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["ce97efa8.a13de"]]},{"id":"ce97efa8.a13de","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":419,"wires":[["bd5c6364.b36a"]]},{"id":"bd5c6364.b36a","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["4fca0d70.297454","f8212d9b.0ac02"]]},{"id":"fb4af111.073d3","type":"function","z":0,"name":"Pre Prediction + 3","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+3),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["7882187d.b0d058"]]},{"id":"7882187d.b0d058","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":500,"wires":[["11f7e325.6c9f7d"]]},{"id":"11f7e325.6c9f7d","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["c5a2fee4.cd68b","4d0d84e1.cf854c"]]},{"id":"638803c8.2d3b0c","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["96c3123d.4195e","1f73fb8a.5a8d24"]]},{"id":"1431d536.f51c4b","type":"function","z":0,"name":"Pre Prediction + 5 ","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+5),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":580,"wires":[["f10edb0d.7d5d68"]]},{"id":"f10edb0d.7d5d68","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":580,"wires":[["9328d0ec.9c301"]]},{"id":"9328d0ec.9c301","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["b4cd647b.46c4b8","1553ef7e.c4f701"]]},{"id":"fdbecf3f.342d","type":"function","z":0,"name":"Pre Prediction + 6","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+6),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["ecf4c104.d8de8"]]},{"id":"ecf4c104.d8de8","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":660,"wires":[["cfababbd.f3ae88"]]},{"id":"cfababbd.f3ae88","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":660,"wires":[["25b8b909.270cc6","53981cc7.930d74"]]},{"id":"fdc143bd.3eaff","type":"function","z":0,"name":"Pre Prediction + 7","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+7),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["120f4e41.b96f42"]]},{"id":"120f4e41.b96f42","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":740,"wires":[["24f4d397.505e3c"]]},{"id":"24f4d397.505e3c","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":740,"wires":[["38f7f1e3.33347e","9a599fd9.57a88"]]},{"id":"77b5e283.25125c","type":"function","z":0,"name":"Pre Prediction + 8","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+8),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["caca4333.4becf"]]},{"id":"caca4333.4becf","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":820,"wires":[["55e247d1.e58f88"]]},{"id":"55e247d1.e58f88","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":820,"wires":[["6026396d.9a33c8","eeac8e98.16b76"]]},{"id":"862e7832.863828","type":"function","z":0,"name":"Pre Prediction + 9","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+9),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["e145bbc.a206d48"]]},{"id":"e145bbc.a206d48","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":900,"wires":[["7e7db7ed.112338"]]},{"id":"7e7db7ed.112338","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":900,"wires":[["dbc11d.a1879ee","fde42f3a.35ea3"]]},{"id":"4b882078.785ff","type":"function","z":0,"name":"Pre Prediction + 10","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+10),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["de24f1d7.c4d45"]]},{"id":"de24f1d7.c4d45","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":980,"wires":[["4b145dbe.267994"]]},{"id":"4b145dbe.267994","type":"function","z":0,"name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":980,"wires":[["c95aa269.010b3","9c7a1951.eca2b8"]]},{"id":"1e782f17.731bb1","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":260,"wires":[["ad7b90c.462047"]]},{"id":"667f1466.c019dc","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":340,"wires":[["d11feaee.177ba8"]]},{"id":"1b1fbac7.165b95","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":166,"y":423,"wires":[["c1f3e87c.0d4d68"]]},{"id":"e1381338.cfce4","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":500,"wires":[["fb4af111.073d3"]]},{"id":"46e51d7a.3eae34","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":580,"wires":[["1431d536.f51c4b"]]},{"id":"2a715b1c.2d9be4","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":660,"wires":[["fdbecf3f.342d"]]},{"id":"7cb5cd7.b68e834","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":740,"wires":[["fdc143bd.3eaff"]]},{"id":"6300d49e.128a3c","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":820,"wires":[["77b5e283.25125c"]]},{"id":"50ff0469.187dac","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":900,"wires":[["862e7832.863828"]]},{"id":"cb8695f1.273338","type":"http request","z":0,"name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":980,"wires":[["4b882078.785ff"]]},{"id":"45f4e9bd.d47668","type":"ui_text","z":0,"group":"ada3764f.a6cbb8","order":1,"width":6,"height":2,"name":"","label":"Prediction for given week:","format":"{{msg.payload}}","layout":"col-center","x":1130,"y":160,"wires":[]},{"id":"b4b15675.d228c8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"821ca4e7.30aa98","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":1,"width":0,"height":0,"name":"","label":"Prediction for 1st week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":320,"wires":[]},{"id":"7a6a4a9a.14dca4","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":360,"wires":[]},{"id":"4fca0d70.297454","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":2,"width":0,"height":0,"name":"","label":"Prediction for 2nd week","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":400,"wires":[]},{"id":"f8212d9b.0ac02","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":440,"wires":[]},{"id":"c5a2fee4.cd68b","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":3,"width":0,"height":0,"name":"","label":"Prediction for 3rd week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":480,"wires":[]},{"id":"4d0d84e1.cf854c","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":520,"wires":[]},{"id":"96c3123d.4195e","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":4,"width":0,"height":0,"name":"","label":"Prediction for 4th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":240,"wires":[]},{"id":"1f73fb8a.5a8d24","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":280,"wires":[]},{"id":"b4cd647b.46c4b8","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":5,"width":0,"height":0,"name":"","label":"Prediction for 5th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":560,"wires":[]},{"id":"1553ef7e.c4f701","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":600,"wires":[]},{"id":"25b8b909.270cc6","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":6,"width":0,"height":0,"name":"","label":"Prediction for 6th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":640,"wires":[]},{"id":"53981cc7.930d74","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":680,"wires":[]},{"id":"9a599fd9.57a88","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":7,"width":0,"height":0,"name":"","label":"Prediction for 7th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":720,"wires":[]},{"id":"38f7f1e3.33347e","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":760,"wires":[]},{"id":"eeac8e98.16b76","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":8,"width":0,"height":0,"name":"","label":"Prediction for 8th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":800,"wires":[]},{"id":"6026396d.9a33c8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":840,"wires":[]},{"id":"dbc11d.a1879ee","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":9,"width":0,"height":0,"name":"","label":"Prediction for 9th week","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":880,"wires":[]},{"id":"fde42f3a.35ea3","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":920,"wires":[]},{"id":"c95aa269.010b3","type":"ui_text","z":0,"group":"8f76f8ea.0c2688","order":10,"width":0,"height":0,"name":"","label":"Prediction for 10th week","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":960,"wires":[]},{"id":"9c7a1951.eca2b8","type":"debug","z":0,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1000,"wires":[]},{"id":"7b7637b7.755a28","type":"function","z":"c84f8bfc.ec1d98","name":"","func":"msg.payload = \n{\n    _id : msg.payload.email,\n\n    NAME : msg.payload.name,\n    EMAIL : msg.payload.email,\n    PASSWORD : msg.payload.pwd,\n    BATCHNUMBER: msg.payload.batchno,\n    PHONENUMBER : msg.payload.phno,\n    \n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["4e05440c.5c332c","67699509.22409c"]]},{"id":"2acca73d.dc6508","type":"function","z":"c84f8bfc.ec1d98","name":"","func":"msg.payload=\"Registration successful\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["7fce8a25.a23604","67699509.22409c"]]},{"id":"f9bb8b50.08aa88","type":"function","z":"c84f8bfc.ec1d98","name":"","func":"global.set('email',msg.payload.email);\nglobal.set('password',msg.payload.password);\n\nvar email = global.get('email')\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["e3a45ef1.5fd65"]]},{"id":"62be2564.3002ec","type":"function","z":"c84f8bfc.ec1d98","name":"","func":"var password = global.get('password')\nif(msg.payload.PASSWORD==password)\nmsg.payload = \"Login Successful.\"\nelse\nmsg.payload = \"Login Unsuccessful. Please try again with correct credentials.\"\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["9ce3bb81.52e6a8","f0d064e3.a3ef18"]]},{"id":"e3a45ef1.5fd65","type":"function","z":"c84f8bfc.ec1d98","name":"","func":"var email = global.get('email')\nmsg.payload = {\n\n      \"_id\": email\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["466cb8aa.eaa9b8"]]},{"id":"f0d064e3.a3ef18","type":"debug","z":"c84f8bfc.ec1d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":180,"wires":[]},{"id":"466cb8aa.eaa9b8","type":"cloudant in","z":"c84f8bfc.ec1d98","name":"","cloudant":"","database":"customer_creds","service":"node-red-yzkki-cloudant-1592484413656-68468","search":"_id_","design":"_design/9b41ef90ba9a2f118dc7797048073d4e128bb470","index":"EMAIL","x":580,"y":220,"wires":[["62be2564.3002ec","f0d064e3.a3ef18"]]},{"id":"dbcc576.f2c81a8","type":"ui_form","z":"c84f8bfc.ec1d98","name":"","label":"","group":"52a930b.e00fcd","order":3,"width":"0","height":"0","options":[{"label":"Enter your name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter the email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter the password","value":"pwd","type":"password","required":true,"rows":null},{"label":"Enter the phone number","value":"phno","type":"number","required":true,"rows":null}],"formValue":{"name":"","email":"","pwd":"","phno":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/1?socketid=mk1T0MXFHhn-OHRqAAAS","x":250,"y":100,"wires":[["7b7637b7.755a28","2acca73d.dc6508"]]},{"id":"4e05440c.5c332c","type":"cloudant out","z":"c84f8bfc.ec1d98","name":"","cloudant":"","database":"customer_creds","service":"node-red-yzkki-cloudant-1592484413656-68468","payonly":true,"operation":"insert","x":660,"y":40,"wires":[]},{"id":"235afac2.a359e6","type":"ui_form","z":"c84f8bfc.ec1d98","name":"","label":"","group":"7b4f7c83.dca314","order":3,"width":"0","height":"0","options":[{"label":"Enter ur email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter ur password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":220,"wires":[["f9bb8b50.08aa88"]]},{"id":"7fce8a25.a23604","type":"ui_text","z":"c84f8bfc.ec1d98","group":"52a930b.e00fcd","order":2,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":630,"y":160,"wires":[]},{"id":"9ce3bb81.52e6a8","type":"ui_text","z":"c84f8bfc.ec1d98","group":"7b4f7c83.dca314","order":2,"width":"6","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":360,"wires":[]},{"id":"67699509.22409c","type":"debug","z":"c84f8bfc.ec1d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":100,"wires":[]},{"id":"5fe0a89f.027d68","type":"ui_template","z":"c84f8bfc.ec1d98","group":"7b4f7c83.dca314","name":"","order":1,"width":"0","height":"0","format":"<ul class=\"nav navbar-nav navbar-right\">\n    <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/1?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-user\"></span> Sign Up</a></li>\n    <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/2?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-log-in\"></span> Login</a></li>\n</ul>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":60,"wires":[[]]},{"id":"5a3c7653.316358","type":"ui_template","z":"c84f8bfc.ec1d98","group":"84b0826b.f8874","name":"","order":4,"width":"0","height":"0","format":"<ul class=\"nav navbar-nav navbar-right\">\n    <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/1?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-user\"></span> Sign Up</a></li>\n    <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/2?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-log-in\"></span> Login</a></li>\n</ul>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":100,"y":20,"wires":[[]]},{"id":"8a85ff1f.27c05","type":"ui_form","z":"cf39526d.d563e","name":"","label":"","group":"d27df6e3.a4ee48","order":0,"width":0,"height":0,"options":[{"label":"Type your Question","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["9525be8b.a399b"]]},{"id":"9525be8b.a399b","type":"function","z":"cf39526d.d563e","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["65fc2ec6.4da19","92005d1b.ae269"]]},{"id":"92005d1b.ae269","type":"ui_text","z":"cf39526d.d563e","group":"d27df6e3.a4ee48","order":1,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":300,"wires":[]},{"id":"65fc2ec6.4da19","type":"watson-conversation-v1","z":"cf39526d.d563e","name":"Fresh Bot","workspaceid":"fb1eab48-4e0b-4e15-9cf4-18885b8594ad","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ddf0baa8-8c89-452b-b1ac-65cbbcec73d0","timeout":"","optout-learning":false,"x":460,"y":120,"wires":[["fa791e1b.0fb32","dce9cc86.fc7d7"]]},{"id":"fa791e1b.0fb32","type":"debug","z":"cf39526d.d563e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":40,"wires":[]},{"id":"dce9cc86.fc7d7","type":"function","z":"cf39526d.d563e","name":"output parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\")\n{\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload=msg.payload.output.generic[0].title+\"\\n\"+msg.payload.output.generic[0].description\n}\nelse\n{\n    msg.payload=msg.payload.output.generic[0].text\n    msg.url=\"http://ics-seville.org/wp-content/uploads/2017/05/welcome_summer.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["8de16557.5567f8","d7aba70d.6ea148"]]},{"id":"8de16557.5567f8","type":"ui_text","z":"cf39526d.d563e","group":"d27df6e3.a4ee48","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":220,"wires":[]},{"id":"d7aba70d.6ea148","type":"ui_template","z":"cf39526d.d563e","group":"d27df6e3.a4ee48","name":"","order":3,"width":"6","height":"4","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":80,"wires":[[]]},{"id":"8f1c8bab.1dad38","type":"ui_form","z":"cf39526d.d563e","name":"","label":"","group":"277d2dd1.4af0b2","order":0,"width":0,"height":0,"options":[{"label":"Type your Question","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":620,"wires":[["359a24db.24addc"]]},{"id":"359a24db.24addc","type":"function","z":"cf39526d.d563e","name":"input parsing","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":560,"wires":[["c93ecb77.f79f88","4744b9fc.3d52c8"]]},{"id":"4744b9fc.3d52c8","type":"ui_text","z":"cf39526d.d563e","group":"277d2dd1.4af0b2","order":1,"width":0,"height":0,"name":"","label":"User Input","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":680,"wires":[]},{"id":"c93ecb77.f79f88","type":"watson-conversation-v1","z":"cf39526d.d563e","name":"Fresh Bot","workspaceid":"fb1eab48-4e0b-4e15-9cf4-18885b8594ad","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ddf0baa8-8c89-452b-b1ac-65cbbcec73d0","timeout":"","optout-learning":false,"x":480,"y":500,"wires":[["ec51a8c4.6ae8d8","e6383986.c85938"]]},{"id":"ec51a8c4.6ae8d8","type":"debug","z":"cf39526d.d563e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":420,"wires":[]},{"id":"e6383986.c85938","type":"function","z":"cf39526d.d563e","name":"output parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\")\n{\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload=msg.payload.output.generic[0].title+\"\\n\"+msg.payload.output.generic[0].description\n}\nelse\n{\n    msg.payload=msg.payload.output.generic[0].text\n    msg.url=\"http://ics-seville.org/wp-content/uploads/2017/05/welcome_summer.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["bd04156f.1dfe28","4bb55c21.c70594","78b3dd3d.52b9f4"]]},{"id":"bd04156f.1dfe28","type":"ui_text","z":"cf39526d.d563e","group":"277d2dd1.4af0b2","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":600,"wires":[]},{"id":"4bb55c21.c70594","type":"ui_template","z":"cf39526d.d563e","group":"277d2dd1.4af0b2","name":"","order":3,"width":"6","height":"4","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":880,"y":460,"wires":[[]]},{"id":"78b3dd3d.52b9f4","type":"ui_audio","z":"cf39526d.d563e","name":"","group":"277d2dd1.4af0b2","voice":"en-US","always":true,"x":840,"y":700,"wires":[]},{"id":"33dc97cc.e4ecc8","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":180,"wires":[["cd9afd0e.1d898"]]},{"id":"cd9afd0e.1d898","type":"function","z":"f4817954.7b4618","name":"Pre Prediction","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["8e0d08e1.082d58"]]},{"id":"8e0d08e1.082d58","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":180,"wires":[["d627bb2b.8ab698"]]},{"id":"d627bb2b.8ab698","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":180,"wires":[["614f5cdc.10bf24","af72e278.052cd"]]},{"id":"79ada7.969d2258","type":"ui_form","z":"f4817954.7b4618","name":"","label":"","group":"ada3764f.a6cbb8","order":2,"width":0,"height":0,"options":[{"label":"week","value":"W","type":"number","required":true,"rows":null},{"label":"center_id","value":"CI","type":"number","required":true,"rows":null},{"label":"meal_id","value":"MI","type":"number","required":true,"rows":null},{"label":"checkout_price","value":"COP","type":"number","required":true,"rows":null},{"label":"base_price","value":"BP","type":"number","required":true,"rows":null},{"label":"emailer_for_promotion","value":"EFP","type":"number","required":true,"rows":null},{"label":"homepage_featured","value":"HF","type":"number","required":true,"rows":null}],"formValue":{"W":"","CI":"","MI":"","COP":"","BP":"","EFP":"","HF":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":50,"y":360,"wires":[["41807074.d2dfc"]]},{"id":"41807074.d2dfc","type":"function","z":"f4817954.7b4618","name":"","func":"global.set(\"week\",msg.payload.W)\nglobal.set(\"center_id\",msg.payload.CI)\nglobal.set(\"meal_id\",msg.payload.MI)\nglobal.set(\"checkout_price\",msg.payload.COP)\nglobal.set(\"base_price\",msg.payload.BP)\nglobal.set(\"emailer_for_promotion\",msg.payload.EFP)\nglobal.set(\"homepage_featured\",msg.payload.HF)\nvar apikey=\"VQMcBuud0FI_kgnc0_u8nzd2wMsbXcp0yXHfBty5VXdd\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":300,"wires":[["33dc97cc.e4ecc8","414f7534.a8047c","242c1b5e.6532f4","5a53ec7f.070d64","1381e4d.abdb11b","6cc8b022.2f282","1b565cee.323263","93dde1c8.f28fb","f911e6e3.3b2d58","f5e7bb3e.612ad8","7d3d6807.0802a8"]]},{"id":"a38947c5.3deca8","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 4","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+4),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["34ae83ae.1adbdc"]]},{"id":"34ae83ae.1adbdc","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":260,"wires":[["e7fab2a5.0eda1"]]},{"id":"5b851d99.e99fb4","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 1","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+1),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["25383095.01fa1"]]},{"id":"25383095.01fa1","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":340,"wires":[["a884c9ac.cb3318"]]},{"id":"a884c9ac.cb3318","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["5409ab35.14dba4","ec96462f.ee4f38"]]},{"id":"1ec3d727.e00df9","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 2","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+2),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["4e8ea7f2.453608"]]},{"id":"4e8ea7f2.453608","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":419,"wires":[["48d0be31.f2fce"]]},{"id":"48d0be31.f2fce","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":420,"wires":[["b0a12210.cc85d","a1a24dfb.886d9"]]},{"id":"6f84f6d4.465358","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 3","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+3),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["f5209ba4.f46148"]]},{"id":"f5209ba4.f46148","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":500,"wires":[["40a119b4.c9d238"]]},{"id":"40a119b4.c9d238","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["786dead3.64ad34","ac7ec8eb.b587a8"]]},{"id":"e7fab2a5.0eda1","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["622e196d.1874c8","dc76ca24.708258"]]},{"id":"b4cd1c27.78fc2","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 5 ","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+5),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["cd29e73c.6f9628"]]},{"id":"cd29e73c.6f9628","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":580,"wires":[["f54a8919.6752f8"]]},{"id":"f54a8919.6752f8","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":580,"wires":[["aa6fec28.c451","132d76cb.55aa49"]]},{"id":"e97787a2.407388","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 6","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+6),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["78b3ecc9.a524b4"]]},{"id":"78b3ecc9.a524b4","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":660,"wires":[["997aa211.e3886"]]},{"id":"997aa211.e3886","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":660,"wires":[["ce5032ee.57992","2a5f99ef.1b06e6"]]},{"id":"71c10120.9ebd7","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 7","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+7),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["27395d6.8e11aa2"]]},{"id":"27395d6.8e11aa2","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":740,"wires":[["fe74691b.8f13f8"]]},{"id":"fe74691b.8f13f8","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":740,"wires":[["e1b138c7.866bf8","a85aee99.02143"]]},{"id":"15e2b5d4.b48b8a","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 8","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+8),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["73c0cd31.390794"]]},{"id":"73c0cd31.390794","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":820,"wires":[["1fbb7af4.12a6b5"]]},{"id":"1fbb7af4.12a6b5","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":820,"wires":[["ff19aabd.5afb98","4005c814.9c6f38"]]},{"id":"9c22c5e1.166568","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 9","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+9),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":900,"wires":[["2d0c2d5d.fe9b12"]]},{"id":"2d0c2d5d.fe9b12","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":900,"wires":[["9a54ea57.5a5ff8"]]},{"id":"9a54ea57.5a5ff8","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":900,"wires":[["61ac7fbd.fed8c","17788d14.82b613"]]},{"id":"9b2de859.4fbbc8","type":"function","z":"f4817954.7b4618","name":"Pre Prediction + 10","func":"var week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"e26019a6-f58c-4ac1-b576-7f0b670a60ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"week\", \"center_id\", \"meal_id\", \"checkout_price\", \"base_price\", \"emailer_for_promotion\", \"homepage_featured\"], \"values\": [[(week+10),center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":410,"y":980,"wires":[["131c3425.b7512c"]]},{"id":"131c3425.b7512c","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/625bdfca-104c-44fb-9436-947f7cbcd907/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":980,"wires":[["cba78487.609238"]]},{"id":"cba78487.609238","type":"function","z":"f4817954.7b4618","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":980,"wires":[["96dc3dc0.7b0bc","6f375ddd.b82494"]]},{"id":"414f7534.a8047c","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":260,"wires":[["a38947c5.3deca8"]]},{"id":"242c1b5e.6532f4","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":340,"wires":[["5b851d99.e99fb4"]]},{"id":"5a53ec7f.070d64","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":226,"y":423,"wires":[["1ec3d727.e00df9"]]},{"id":"7d3d6807.0802a8","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":500,"wires":[["6f84f6d4.465358"]]},{"id":"1381e4d.abdb11b","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":580,"wires":[["b4cd1c27.78fc2"]]},{"id":"6cc8b022.2f282","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":660,"wires":[["e97787a2.407388"]]},{"id":"1b565cee.323263","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":740,"wires":[["71c10120.9ebd7"]]},{"id":"93dde1c8.f28fb","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":820,"wires":[["15e2b5d4.b48b8a"]]},{"id":"f911e6e3.3b2d58","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":900,"wires":[["9c22c5e1.166568"]]},{"id":"f5e7bb3e.612ad8","type":"http request","z":"f4817954.7b4618","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":980,"wires":[["9b2de859.4fbbc8"]]},{"id":"614f5cdc.10bf24","type":"ui_text","z":"f4817954.7b4618","group":"ada3764f.a6cbb8","order":1,"width":6,"height":2,"name":"","label":"Prediction for given week:","format":"{{msg.payload}}","layout":"col-center","x":1190,"y":160,"wires":[]},{"id":"af72e278.052cd","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"5409ab35.14dba4","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":1,"width":0,"height":0,"name":"","label":"Prediction for 1st week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":320,"wires":[]},{"id":"ec96462f.ee4f38","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":360,"wires":[]},{"id":"b0a12210.cc85d","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":2,"width":0,"height":0,"name":"","label":"Prediction for 2nd week","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":400,"wires":[]},{"id":"a1a24dfb.886d9","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":440,"wires":[]},{"id":"786dead3.64ad34","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":3,"width":0,"height":0,"name":"","label":"Prediction for 3rd week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":480,"wires":[]},{"id":"ac7ec8eb.b587a8","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":520,"wires":[]},{"id":"622e196d.1874c8","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":4,"width":0,"height":0,"name":"","label":"Prediction for 4th week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":240,"wires":[]},{"id":"dc76ca24.708258","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":280,"wires":[]},{"id":"aa6fec28.c451","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":5,"width":0,"height":0,"name":"","label":"Prediction for 5th week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":560,"wires":[]},{"id":"132d76cb.55aa49","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":600,"wires":[]},{"id":"ce5032ee.57992","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":6,"width":0,"height":0,"name":"","label":"Prediction for 6th week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":640,"wires":[]},{"id":"2a5f99ef.1b06e6","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":680,"wires":[]},{"id":"a85aee99.02143","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":7,"width":0,"height":0,"name":"","label":"Prediction for 7th week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":720,"wires":[]},{"id":"e1b138c7.866bf8","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":760,"wires":[]},{"id":"4005c814.9c6f38","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":8,"width":0,"height":0,"name":"","label":"Prediction for 8th week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":800,"wires":[]},{"id":"ff19aabd.5afb98","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":840,"wires":[]},{"id":"61ac7fbd.fed8c","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":9,"width":0,"height":0,"name":"","label":"Prediction for 9th week","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":880,"wires":[]},{"id":"17788d14.82b613","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":920,"wires":[]},{"id":"96dc3dc0.7b0bc","type":"ui_text","z":"f4817954.7b4618","group":"8f76f8ea.0c2688","order":10,"width":0,"height":0,"name":"","label":"Prediction for 10th week","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":960,"wires":[]},{"id":"6f375ddd.b82494","type":"debug","z":"f4817954.7b4618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1000,"wires":[]},{"id":"6c37bd0c.95bdd4","type":"ui_template","z":"6a50cd0f.0eae14","group":"52a930b.e00fcd","name":"","order":4,"width":0,"height":0,"format":"<div>Click this button to redirect to the main page<input class= \"col-xs-4\" type=button onClick=\"location.href='https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=_rGxU6VBGhCK6400AAAl'\" value='Submit' style = \"btn-primary center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":560,"wires":[[]]},{"id":"c6b18b81.e73fc8","type":"ui_template","z":"6a50cd0f.0eae14","group":"396e771c.cca858","name":"head","order":1,"width":0,"height":0,"format":"<title>TODO supply a title</title>\n<link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n<style>\n    .thumbnail img {\n        height:200px;\n        width:100%;\n    }\n    footer{\n    padding: 10px;\n    background-color: #101010;\n    color:#9d9d9d;\n    bottom: 0;\n    width: 100%;\n   height:60px;\n}\n#footer{\n    position:absolute;\n}\n#banner_image{\n    padding-top: 75px;\n    padding-bottom: 50px;\n    text-align: center;\n    color: #f8f8f8;\n    background: url(https://springfieldcrossingapartments.com/wp-content/uploads/2016/09/bigstock-Greengrocer-owner-of-a-small-b-61829270.jpg) no-repeat center center;\n    background-size: cover;\n}\n#banner_content{\n    position: relative;\n    padding-top: 6%;\n    padding-bottom: 6%;\n    margin-top: 12%;\n    margin-bottom: 12%;\n    background-color: rgba(0, 0, 0, 0.7);\n    max-width: 660px;\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":250,"y":220,"wires":[["389e6f24.f77b4","64924d36.171ac4","6c4ddc61.1752f4","9896003.a460e","c332e74e.29a0a8","96fcaab8.f79488","32e55ecf.238e92","6c37bd0c.95bdd4","14512161.7cbcff"]]},{"id":"389e6f24.f77b4","type":"ui_template","z":"6a50cd0f.0eae14","group":"13a81a3d.963f26","name":"","order":3,"width":0,"height":0,"format":"<div>\n            <nav class=\"navbar navbar-inverse\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=6jQ0eZQdZcpbL4e_AAAW\">Fresh-O-Fresh</a>\n                </div>\n                <div>\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/4?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-shopping-cart\"></span> Cart</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/5?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-user\"></span> Settings</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/7?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-log-out\"></span> Logout</a></li>\n                    </ul>\n                </div>\n            </div>\n        </nav>\n        </div>\n        <div class=\"container\">\n            <div class=\"jumbotron\">\n                <h1>Welcome to Fresh-O-Fresh!</h1>\n                <p>We have the Best and Fresh Fruits and Vegetables for you. No need to hunt around, we have all in one place.</p>\n            </div>\n            <div>\n                <div class=\"row\">\n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://www.mr-fruity.co.uk/wp-content/uploads/2019/04/water-melon.jpg\" alt=\"Watermelon\">\n                                <div class=\"caption\">\n                                    <h3>Watermelon</h3>\n                                    <p>Price: Rs. 100.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\"> \n                                        <!-- <div class=\"grid-product__button grid-product__buy-now\" data-product-id=\"\">\n                                        <div class=\"form-control form-control--button form-control--small form-control--secondary form-control--animated form-control--done\">\n\t\t                                <button class=\"form-control__button form-control__button--icon-center\"><br />\n\t\t\t                            <span class=\"form-control__button-text\">Buy Now</span><br />\n\t\t\t                            <span class=\"form-control__button-svg\"><br />\n\t\t\t\t                        <span class=\"svg-icon\"><br />\n\t\t\t\t\t                    <svg width=\"27\" height=\"23\" viewBox=\"0 0 27 23\" xmlns=\"http://www.w3.org/2000/svg\">\n\t\t\t\t\t\t                <path class=\"svg-line-check\" d=\"M1.97 11.94L10.03 20 25.217 2\" stroke=\"currentColor\" stroke-width=\"3\" fill=\"none\"\n\t\t\t\t\t\t\t            fill-rule=\"evenodd\" stroke-linecap=\"round\"></path>\n\t\t\t\t\t                    </svg><br />\n                        \t\t\t\t</span><br />\n\t\t\t                            </span><br />\n\t\t                                </button>\n\t                                    </div>\n                                        </div>             -->                       \n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://images.indianexpress.com/2020/02/strawberry-1200.jpg\" alt=\"Strawberry\">\n                                <div class=\"caption\">\n                                    <h3>Strawberry</h3>\n                                    <p>Price: Rs. 420.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://stoller.com.au/wp-content/uploads/2019/03/cherries_crop.jpg\" alt=\"Cherry\">\n                                <div class=\"caption\">\n                                    <h3>Cherry</h3>\n                                    <p>Price: Rs. 600.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://www.gardenexpress.com.au/wp-content/uploads/2019/06/raspberry-nootka-pkrasnoo.jpg\" alt=\"Raspberry\">\n                                <div class=\"caption\">\n                                    <h3>Raspberry</h3>\n                                    <p>Price: Rs. 550.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://cdn.britannica.com/25/182625-050-327FAC9B/Nectarine-fruits.jpg\" alt=\"Nectarine\">\n                                <div class=\"caption\">\n                                    <h3>Nectarine</h3>\n                                    <p>Price: Rs. 500.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://5.imimg.com/data5/NP/BH/MY-13535572/nagpur-orange-500x500.jpg\" alt=\"Orange\">\n                                <div class=\"caption\">\n                                    <h3>Orange</h3>\n                                    <p>Price: Rs. 40.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://upload.wikimedia.org/wikipedia/commons/6/6f/Cabbage_and_cross_section_on_white.jpg\" alt=\"Cabbage\">\n                                <div class=\"caption\">\n                                    <h3>Cabbage</h3>\n                                    <p>Price: Rs. 7.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://freshpoint.com/wp-content/uploads/commodity-green-leaf-lettuce.jpg\" alt=\"Lettuce\">\n                                <div class=\"caption\">\n                                    <h3>Fresho Lettuce</h3>\n                                    <p>Price: Rs. 50.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://img.republicworld.com/republic-prod/stories/promolarge/xxhdpi/bhph7vhdvxwxujiw_1589955310.jpeg?tr=w-1242,h-710,f-jpeg\" alt=\"Tomato\">\n                                <div class=\"caption\">\n                                    <h3>Red Tomato</h3>\n                                    <p>Price: Rs. 40.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://image.shutterstock.com/image-photo/two-cucumbers-on-isolated-white-260nw-1359741629.jpg\" alt=\"Cucumber\">\n                                <div class=\"caption\">\n                                    <h3>Cucumber</h3>\n                                    <p>Price: Rs. 20.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://www.cookforyourlife.org/wp-content/uploads/2018/08/shutterstock_294838064-min-696x520.jpg\" alt=\"Broccoli\">\n                                <div class=\"caption\">\n                                    <h3>Agricart Broccoli</h3>\n                                    <p>Price: Rs. 120.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                    \n                    <div class=\"col-md-3 col-sm-6\">\n                            <div class=\"thumbnail\">\n                                <img src=\"https://www.deepupassion.com/wp-content/uploads/2018/05/carbs-in-pumpkin-1.jpg\" alt=\"Pumpkin\">\n                                <div class=\"caption\">\n                                    <h3>Pumpkin</h3>\n                                    <p>Price: Rs. 0.00</p>\n                                    <div>\n                                        Qty:<input type=\"number\" min=\"1\" max=\"100\" step=\"1\" name=\"quantity\" value=\"1\" title=\"Qty\" class=\"input-text qty text\">\n                                        <input type=\"button\" class=\"btn btn-primary\" onclick=\"alert('Successfully Added to Cart')\" value=\"Add to Cart\">\n                                    </div>\n                                </div>\n                            </div> \n                    </div>\n                </div>\n            </div>\n        </div>\n        <footer>\n            <div class=\"container\">\n                <p style=\"text-align: center;\">Copyright  Fresh-O-Fresh. All Rights Reserved | Contact Us: +91 90000 00000</p>\n            </div>\n        </footer>\n        ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":340,"wires":[[]]},{"id":"64924d36.171ac4","type":"ui_template","z":"6a50cd0f.0eae14","group":"47fc5dca.836ab4","name":"","order":0,"width":0,"height":0,"format":"<div>\n            <nav class=\"navbar navbar-inverse navbar-fixed\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=6jQ0eZQdZcpbL4e_AAAW\">Fresh-O-Fresh</a>\n                </div>\n                <div>\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/4?socketid=4e3fo5WEq7za-bI9AAAT\"><span class=\"glyphicon glyphicon-shopping-cart\"></span> Cart</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/5?socketid=4e3fo5WEq7za-bI9AAAT\"><span class=\"glyphicon glyphicon-user\"></span> Settings</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/7?socketid=4e3fo5WEq7za-bI9AAAT\"><span class=\"glyphicon glyphicon-log-out\"></span> Logout</a></li>\n                    </ul>\n                </div>\n            </div>\n        </nav>\n        </div>\n        \n<div class=\"col-xs-2\"></div>\n        <div class=\"container col-xs-7\">\n            <table class=\"table table-striped table-bordered\" style=\"font-size: 16px\">\n                <tbody>\n                    <tr><th>ITEM NUMBER </th> <th>ITEM NAME </th> <th>PRICE </th> <th> </th></tr>\n                    <tr><td> </td> <td>    </td> <td>   </td> <td>   </td></tr>\n                    <tr><td> </td> <td> Total</td> <td> Rs 0/-</td> <td><button type=\"submit\" class=\"btn btn-primary\" ><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/6?socketid=4e3fo5WEq7za-bI9AAAT\" style=\"color: white\">Confirm Order</a></button> </td></tr>\t\t\t\t\n                </tbody>\n            </table>\n        </div>\n        \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":160,"wires":[[]]},{"id":"6c4ddc61.1752f4","type":"ui_template","z":"6a50cd0f.0eae14","group":"181d5240.3ec89e","name":"","order":0,"width":0,"height":0,"format":"<div>\n            <nav class=\"navbar navbar-inverse navbar-fixed\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=6jQ0eZQdZcpbL4e_AAAW\">Fresh-O-Fresh</a>\n                </div>\n                <div>\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-home\"></span> Home</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/7?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-log-out\"></span> Logout</a></li>\n                    </ul>\n                </div>\n            </div>\n        </nav>\n        </div>\n<div class=\"container\" style=\"text-align: center\">\n            <h3 style=\"color: greenyellow\">\n                Your order is confirmed. Thank you for shopping with us.\n                </h3>\n            <h3 style=\"color: greenyellow\"><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=DE7bq12TK7Ub44JVAAAU\">Click here</a> to purchase any other item</h3>\n        </div>\n\n\n      ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":280,"wires":[[]]},{"id":"9896003.a460e","type":"ui_template","z":"6a50cd0f.0eae14","group":"63adde1f.4698c","name":"","order":0,"width":0,"height":0,"format":"<div class=\"container\" style=\"text-align: center\">\n            <h3>You have successfully logged You may close this window</h3>\n        </div>\n        ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":220,"wires":[[]]},{"id":"c332e74e.29a0a8","type":"ui_template","z":"6a50cd0f.0eae14","group":"2aa102e9.06d5de","name":"","order":0,"width":0,"height":0,"format":"<div>\n            <nav class=\"navbar navbar-inverse\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/0?socketid=6jQ0eZQdZcpbL4e_AAAW\">Fresh-O-Fresh</a>\n                </div>\n                <div>\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/9?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-user\"></span> Admin Login</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/1?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-user\"></span> Sign Up</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/2?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-log-in\"></span> Login</a></li>\n                    </ul>\n                </div>\n            </div>\n        </nav>\n        </div>\n        \n        <div id=\"banner_image\">\n            <center>\n                <div class=\"container\">\n                    <div id=\"banner_content\">\n                        <h1>We sell Fresh Fods.</h1>  \n                            <p>Flat 40% OFF on all stocks</p>\n                            <a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/1?socketid=mk1T0MXFHhn-OHRqAAAS\" class=\"btn btn-danger btn-lg active\">Shop Now</a>                        \n                    </div>\n                </div>\n            </center>\n        </div>\n        \n        <footer>\n            <div class=\"container\">\n                <p style=\"text-align: center;\">Copyright  Fresh-O-Fresh. All Rights Reserved | Contact Us: +91 90000 00000</p>\n            </div>\n        </footer>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":100,"wires":[[]]},{"id":"96fcaab8.f79488","type":"ui_template","z":"6a50cd0f.0eae14","group":"3fe5f14f.d1a96e","name":"","order":0,"width":0,"height":0,"format":"<div>\n            <nav class=\"navbar navbar-inverse navbar-fixed\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <a class=\"navbar-brand\" href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=6jQ0eZQdZcpbL4e_AAAW\">Fresh-O-Fresh</a>\n                </div>\n                <div>\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/4?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-shopping-cart\"></span> Cart</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/5?socketid=DE7bq12TK7Ub44JVAAAU\"><span class=\"glyphicon glyphicon-user\"></span> Settings</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/7?socketid=6jQ0eZQdZcpbL4e_AAAW\"><span class=\"glyphicon glyphicon-log-out\"></span> Logout</a></li>\n                    </ul>\n                </div>\n            </div>\n        </nav>\n        </div>\n <div>\n       <div class=\"col-xs-4\"></div>\n        <div class=\"container col-md-7\" style=\"align-items: center\">\n            <div class=\"row\">\n                <div class=\"col-xs-4\">\n                    <h2>SETTINGS</h2>\n                    <form data-toggle=\"validator\" class=\"needs-validation\" method=\"post\" novalidate>\n                        <div class=\"form-group\">\n                            <label>\n                            <input type=\"password\" class=\"form-control form-center\" id=\"oldpwd\" placeholder=\"Old Password\" required>\n                            </label>\n                        </div>\n                        <div class=\"form-group\">\n                            <label>\n                            <input type=\"password\" class=\"form-control form-center\" id=\"pwd\" placeholder=\"New Password\" required>\n                            </label>\n                        </div>\n                        <div class=\"form-group\">\n                            <label>\n                            <input type=\"password\" class=\"form-control form-center\" id=\"pwdconfirm\" data-match=\"#pwd\" data-match-error=\"Whoops, these don't match\" placeholder=\"Re-type New Password\" required>\n                            </label>\n                        </div>\n                    </form>\n                    <button type=\"submit\" class=\"btn btn-primary\"><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/5?socketid=DE7bq12TK7Ub44JVAAAU\" style=\"color: white\">Confirm</a></button>\n                </div>\n            </div>\n        </div>\n        </div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":400,"wires":[[]]},{"id":"32e55ecf.238e92","type":"ui_template","z":"6a50cd0f.0eae14","group":"7b4f7c83.dca314","name":"","order":4,"width":0,"height":0,"format":"<div>Click this button to redirect to the main page<input class= \"col-xs-4\" type=button onClick=\"location.href='https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/3?socketid=_rGxU6VBGhCK6400AAAl'\" value='Submit' style = \"btn-primary center\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":440,"y":500,"wires":[[]]},{"id":"14512161.7cbcff","type":"ui_template","z":"6a50cd0f.0eae14","group":"2844fdb9.a81c42","name":"","order":0,"width":0,"height":0,"format":"<div class=\"navbar navbar-inverse\">\n            <div class=\"container\">\n                <div class=\"navbar-header\">\n                    <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#myNavbar\">\n                        <span class=\"icon-bar\"></span>\n                        <span class=\"icon-bar\"></span>\n                        <span class=\"icon-bar\"></span>                        \n                    </button>\n                    <a class=\"navbar-brand\" href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/0?socketid=mk1T0MXFHhn-OHRqAAAS\">Fresh-O-fresh</a>\n                </div>\n                <div class=\"collapse navbar-collapse\" id=\"myNavbar\">\n                    <ul class=\"nav navbar-nav navbar-right\">\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/1?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-user\"></span> Sign Up</a></li>\n                        <li><a href=\"https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/2?socketid=mk1T0MXFHhn-OHRqAAAS\"><span class=\"glyphicon glyphicon-log-in\"></span> Login</a></li>\n                    </ul>\n                </div>\n            </div>\n        </div>\n        <div class=\"container-fluid decor_bg\" id=\"content\">\n            <div class=\"row\">\n                <div class=\"container\">\n                    <div class=\"col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3\">\n                        <h2>SIGN UP</h2>\n                        <form  action=\"signup_script.html\" method=\"POST\">\n                            <div class=\"form-group\">\n                                <input type=\"email\" class=\"form-control\"  placeholder=\"Email\"  name=\"e-mail\" required>\n                            </div>\n                            <div class=\"form-group\">\n                                <input type=\"password\" class=\"form-control\" placeholder=\"Password\" name=\"password\" required>\n                            </div>\n                            <button type=\"submit\" name=\"submit\" class=\"btn btn-primary\" onClick=\"location.href='https://node-red-yzkki.eu-gb.mybluemix.net/ui/#!/8?socketid=_rGxU6VBGhCK6400AAAl'\">Submit</button>\n                        </form>\n                    </div>\n                </div>\n            </div>\n        </div>       ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":440,"wires":[[]]}]